{% extends 'base.html.twig' %}

{% block title %}Save File{% endblock %}

{% block body %}
  {{ include("navbar.html.twig") }}
  <div class="w3-third w3-container">
    <form action="save" method="POST" class="w3-border w3-panel">
      <p>
        <label>Filename</label>
        <br>
        <input type="text" id="filename" name="filename" class="db-input">
      </p>
      <p>
        <input type="file" id="file" name="file">
      </p>
      <p>
        <button type="submit" id="submit" name="submit" label="Save File">
      </p>
    </form>
  </div>

{% endblock %}
