{% block body %}
<div class="db-form-popup db-quarter db-panel db-border" id="add_item_popup" hidden style="max-width:300px; min-width:300px">
  <form action="{{ path('file_upload') }}" method="POST" id="add_item_form" class="db-border db-panel" enctype="multipart/form-data">
    <p>
      <label for="name">Filename</label>
      <br>
      <input type="text" name="name" class="db-input"/>
    </p>
    <p>
      <label for="file_tags">Tags</label>
      <br>
      <input type="text" id="file_tags" class="db-input"/>
      <input type="text" name="file_selected_tags" id="file_selected_tags" hidden/>
      <p class="db-error-message db-top-arrow" id="file_error_message"></p>
      <span id="file_tags_list"></span>
      <br>
    </p>
    <p>
      <label for="file" class="db-button">Select File</label>
      <input type="file" name="file[]" id="file" required hidden multiple/>
      <br id="file_list_break" hidden>
      <span id="file-chosen" style="display:flex">No File Chosen</span>
    </p>
    <p>
      <button type="submit" class="db-button">Upload File</button>
    </p>
  </form>
</div>

<script>
  function toggle_add_file_form() {
    item_form = document.getElementById('add_item_popup');
    dir_form = document.getElementById('add_dir_popup');
    if (item_form.style.display == 'block') {
      item_form.style.display = 'none';
    } else {
      item_form.style.display = 'block';
      dir_form.style.display = 'none';
    }
  }

  const actual_btn = document.getElementById('file');
  const file_chosen = document.getElementById('file-chosen');
  actual_btn.addEventListener('change', function(){
    file_names = [];
    for (let file of this.files) {
      file_names.push(file.name);
    }
    if (file_names.length > 0)
    {
      file_chosen.style.display = 'none';
      document.getElementById('file_list_break').style.display = 'block';
      let file_list = document.getElementById('file-chosen');
      for (let file of file_names) {
        let file_name = document.createElement("p");
        file_name.innerText = file;
        file_list_break.after(file_name);
      }
    }
  });

  var file_selected_tags = [];
  const file_tags = {{ tags|json_encode()|raw }}
  const file_tags_field = document.getElementById('file_tags');
  const file_tags_list = document.getElementById('file_tags_list');
  const file_selected_tags_field = document.getElementById('file_selected_tags');
  file_tags_field.onkeyup = function(file_event) {
    if (!['', ' ', null].includes(file_tags_field.value.toLowerCase().trim()) && file_event.code == 'Space' && !file_selected_tags.includes(file_tags_field.value.toLowerCase().trim()) && file_tags.includes(file_tags_field.value.toLowerCase().trim()))
    {
      file_tag_value = file_tags_field.value.trim();
      file_tag_label = document.createElement('span');
      file_tag_label.innerText = file_tag_value;
      file_tag_label.classList.add('db-tag-label');
      file_tag_label.setAttribute('id', 'file_tag_label_' + file_tag_value);
      file_tag_label.setAttribute('name', 'file_selected_tags[]');
      file_tag_remove_btn = document.createElement('span');
      file_tag_remove_btn.innerText = 'x';
      file_tag_remove_btn.classList.add('db-tag-remove-btn');
      file_tag_remove_btn.setAttribute('id', 'file_tag_remove_' + file_tag_value);
      file_tag_remove_btn.setAttribute('onclick', 'file_remove_tag(this)');
      file_tags_list.appendChild(file_tag_label);
      file_tags_list.appendChild(file_tag_remove_btn);

      file_error_message_box = document.getElementById('file_error_message');
      file_error_message_box.style.display = 'none';
      file_error_message_box.innerHTML = '';

      file_selected_tags.push(file_tag_value);
      file_selected_tags_field.value = file_selected_tags;
      file_tags_field.value = '';
    } else if (!['', ' ', null].includes(file_tags_field.value.toLowerCase().trim()) && file_event.code == 'Space' && !file_tags.includes(file_tags_field.value.toLowerCase().trim()))
    {
      file_error_message_box = document.getElementById('file_error_message');
      file_error_message_box.style.display = 'block';
      file_error_message_box.innerHTML = 'Tag doesn\'t exist';
    }
  }

  function file_remove_tag(file_tag_remove_btn)
  {
    file_tag_label = file_tag_remove_btn.parentElement;
    file_tag_value = file_tag_label.innerText.toLowerCase().slice(0, -1);
    file_tag_index = file_selected_tags.indexOf(file_tag_value);
    console.log(file_tag_value);
    file_selected_tags.splice(file_tag_index, 1);
    file_selected_tags_field.value = file_selected_tags;
    file_tag_label.remove();
    file_tag_remove_btn.remove();
  }

  var add_item_form = document.getElementById('add_item_form');
  add_item_form.addEventListener('submit', (file_event) => {
    file_event.preventDefault();
    if (file_tags.includes(file_tags_field.value.toLowerCase()))
    {
      file_error_message_box = document.getElementById('file_error_message');
      file_error_message_box.style.display = 'block';
      file_error_message_box.innerHTML = 'Tag doesn\'t exist';
    } else {
      add_item_form.submit();
    }
  });

</script>

{% endblock %}