{% block body %}
{% set route_name = app.request.attributes.get('_route')%}
<div id="action_bar" class="db-action-bar" style="display:none">
  <button type="button" class="db-button" id="download_file" name="download_file" style="margin-left:6px">Download</button>
  {% if route_name == 'trash_display' %}
    {% if entity.path is defined %}
      <button type="button" class="db-button" id="delete_entity" name="delete_entity">Delete</button>
    {% else %}
      <button type="button" class="db-button" id="delete_entity" name="delete_entity">Delete</button>
    {% endif %}
  {% else %}
    {% if entity.path is defined %}
      <button type="button" class="db-button" id="trash_entity" name="trash_entity">Trash</button>
    {% else %}
      <button type="button" class="db-button" id="trash_entity" name="trash_entity">Trash</button>
    {% endif %}
  {% endif %}
</div>


<script>
  function trash_entity(entity_id, type) {
    if (type == 'dir')
    {
      result = window.confirm("Really trash folder?\nFolder and contents will be moved to TRASH");
      if (result === true) {
        const route = "{{ path('trash_entity', {entity_id: 'entity_id_value', type: 'dir'})|escape('js') }}".replace('entity_id_value', entity_id);
        window.location.replace(route);
      }
    } else {
      result = window.confirm("Really trash file?\nFile will be moved to TRASH");
      if (result === true) {
        const route = "{{ path('trash_entity', {entity_id: 'entity_id_value', type: 'file'})|escape('js') }}".replace('entity_id_value', entity_id);
        window.location.replace(route);
      }
    }
  }

  function delete_entity(entity_id, type) {
    if (type == 'dir')
    {
      result = window.confirm("Really DELETE folder?\nFolder, contents and related data will be DELETED PERMANENTLY");
      if (result === true) {
        const route = "{{ path('delete_entity', {entity_id: 'entity_id_value', type: 'dir'})|escape('js') }}".replace('entity_id_value', entity_id);
        window.location.replace(route);
      }
    } else {
      result = window.confirm("Really DELETE file?\File and related data will be DELETED PERMANENTLY");
      if (result === true) {
        const route = "{{ path('delete_entity', {entity_id: 'entity_id_value', type: 'file'})|escape('js') }}".replace('entity_id_value', entity_id);
        window.location.replace(route);
      }
    }
  }

</script>
{% endblock %}